.page-waitlist {
  $image-size: 40px;
  .waitlist-body {
    padding: 0;
  }
  .waitlist-row {
    line-height: $image-size;
    img {
      float: left;
      height: $image-size;
      margin-right: 10px;
    }
    .waitlist-buttons {
      padding-top: 5px;
      padding-right: 10px;
      margin-bottom: 0;
      vertical-align: middle;
    }
    .button {
      margin-bottom: 0;
    }
  }

  .button-link {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;
    color: inherit;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .message-header .tag {
    line-height: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    height: auto;
    margin-right: 0.5rem;
  }
}
