@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";

nav.navbar {
  padding: 10px;
  margin: 10px;
}

nav.navbar .navbar-brand {
  .navbar-item {
    padding: 0;
    margin-right: 10px;
  }
  img {
    height: 60px;
    max-height: none;
    padding: 0;
  }
}
